<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ " /css/main.css " | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ " /feed.xml " | prepend: site.baseurl | prepend: site.url }}" />
  <script>
    fetch('//api.github.com/users/{{ site.github.user }}/repos?sort=pushed&direction=desc')
      .then(response => response.json())
      .then(data => {
        const reposContainer = document.getElementById('gh_repos');
        if (data.length > 0) {
          const limit = {{ site.github.repo_count }};
          const reposToShow = data.slice(0, limit);
          
          let html = '<div class="home"><ul>';
          reposToShow.forEach(repo => {
            html += '<li><a href="' + repo.html_url + '">' + repo.name + '</a>';
            if (repo.description) {
              html += ' ' + repo.description;
            }
            html += '</li>';
          });
          html += '</ul></div>';
          
          reposContainer.innerHTML = html;
        } else {
          reposContainer.innerHTML = '<p>&#128049; LOLCODE:404. I Cant haz code</p>';
        }
      })
      .catch(error => {
        console.error('Error fetching GitHub repos:', error);
        document.getElementById('gh_repos').innerHTML = '<p>Error loading repositories</p>';
      });
  </script>
</head>
